/* *{
    margin: 0;
} */
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.first-heading{
    background-color: orangered;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 15vw;
    color: white;
    a{
        color: white;
        text-decoration: underline;
    }
}

.heading{
    position: relative;
    width: 100%;
    height: 100vh;
    /* border: 1px solid black; */

    
    >video{
        margin: 0;
        padding: 0;
        top: 0;
        object-fit: cover;
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
    }
    .above{
        z-index: 2;
        color: white;
        position: relative;
        text-align: center;
    }
    .first-line{
        display: flex;
        justify-content: space-between;
        padding-left: 45vw;
        padding-right: 102px;
        h1{
            font-size: 3.5vw;
        }
        .right-line{
            text-align: right;
            a{
                color: white;
                text-decoration: none;
            }
            .main:hover{
                transform: scale(1.1);
            }
        }
    }
    >h1{
        font-size: 7.5vw;
    }
}

.center{
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    /* border: 1px solid; */
    padding-left: 7vw;
    padding-right: 7vw;
    align-items: center;
    
    /* height: 1000px; */
    color: black;
    .center-left{
        p{
            font-size: 4.5vw;
            color: #16273D;
            font-weight: 550;
        }
    }
    .center-right>.blue{
        color: #16273D;
        font-weight: bold;
        margin-top: 35px;
        /* line-height: 5.5; */
        display: flex;
        align-items: center;
    }
}

.center2{
    display: flex;
    justify-content: space-evenly;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 50px;
    margin-bottom: 50px;
    .center2-section{
        width: 25vw;

    >img{
        width: 100%;
        border-radius: 25px;
    }
    .bold-line{
        border: 2px solid #16273D;
    }
    h2{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    p{
        color: rgb(29, 29, 29);
    }
    }
}

.center3{
    text-align: center;
    filter: grayscale();
    h1{
        font-size: 4vw;
        color: #16273D;
    }
    .floating{
        display: flex;
        justify-content: space-around;
        overflow: auto;
    }
}

.news{
    margin-top: 6vw;
    >h1{
        color: #16273D;
        font-size: 50px;
        text-align: center;
    }
    .top-news-blocks{
        display: flex;
        justify-content: space-evenly;
        margin-left: 80px;
        margin-right: 80px;
    }
    .news-blocks{
        width: 27vw;
        img{
            width: 100%;
            border-radius: 15px;
        }
        h2{
            color: #16273D;
        }
    }
    .allnews{
        background-color: orangered;
        color: white;
        width:fit-content;
        border-radius: 8px;
        padding: 1px;
        padding: 10px;
        padding-left: 5vw;
        padding-right: 5vw;
        margin: auto;
        margin-bottom: 100px;
        h3{
            margin: 0;
        }
    }
}

.footer1{
    background: linear-gradient(to right, rgb(248, 75, 13), #F1AC41);
    color: white;
    border-radius: 10px;
    width: 80vw;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 40vw;
    justify-content: space-around;
    margin: auto;
    h1{
        font-size: 50px;
        margin-bottom: 0;
    }
    p{
        font-size: 18px;
    }
    .talk{
        background-color: black;
        border-radius: 10px;
        width: 15vw;
        text-align: center;
        padding: 2px;
        color: white;
        text-decoration: none;
    }
}
.talk:hover{
    transform: scale(1.1);
}

.footer2{
    display: flex;
    justify-content: space-around;
    line-height: 2;
    margin-top: 50px;
    margin-bottom: 50px;
    div>h1{
        font-size: 50px;
        margin-top: -10px;
    }
    .footer-left{
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 0.5vw;
        }
    }
}
.last{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.lastline{
    margin-left: 7.5vw;
    margin-right: 7.5vw;
    color: gray;
    font-size:smaller;
}